.forecast-current {
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  padding: 8px 16px;
  align-items: center;
  span {
    margin-bottom: 8px;
  }
  &-cloudy-night {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      ),
      url("/images/cloudy-pm.jpg");
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.85);
  }
  &-cloudy-morning {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("/images/cloudy-am.jpg");
    background-position: center;
    background-size: cover;
    color: rgba(0, 0, 0, 1);
  }
  &-rainy-night {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      ),
      url("/images/rainy-pm.jpg");
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.75);
  }
  &-rainy-morning {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("/images/rainy-am.jpg");
    background-position: center;
    background-size: cover;
    color: rgba(0, 0, 0, 1);
  }
  &-night {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("/images/night.jpg");
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.75);
  }
  &-sunny {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.15)
      ),
      url("/images/sunny.jpg");
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 1);
  }
  &-temperature {
    font-size: 4rem;
  }
  &-date {
    display: flex;

    &-hour {
      font-size: 2.5rem;
    }

    &-month {
      margin-left: 16px;
      font-size: 2.5rem;
    }
  }
  &-rain-chance {
    font-size: 1.75rem;
  }
  &-summary {
    font-size: 1.45rem;
  }
  &-timezone {
    font-size: 1.25rem;
  }
  &-note {
    font-size: 0.7rem;
  }
  &-latlong {
    font-size: 0.8rem;
  }
}
