.forecast-hourly {
  margin-bottom: 16px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  width: 128px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.55);
  color: black;
  margin-right: 8px;
  @media only screen and (min-width: 768px) {
    margin-right: 24px;
  }
  &-time {
    font-size: 1.3rem;
    margin-right: 8px;
    font-weight: 500;
  }
  &-temperature {
    font-size: 0.9rem;
  }
  &-date {
    font-size: 1.2rem;
  }
  &-rain {
    margin-top: 8px;
    font-size: 0.9rem;
  }
}
